@import "tailwindcss";

@theme {
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-tertiary: var(--tertiary);

    --background-color-body: var(--body);

    --font-inter: "Inter", sans-serif;
}

:root {
    --primary: #555555;
    --secondary: #dbd6cb;
    --tertiary: #a8a3a3;

    --body: #444444;

    font-family: var(--font-inter);
}

body {
    @apply bg-body text-secondary;
}

.panel {
    @apply flex flex-col items-center justify-center w-full h-full bg-tertiary shadow-md rounded-lg;
}

input {
    @apply text-center text-black bg-tertiary rounded-md border-2 border-secondary focus:outline-none focus:ring-2 focus:ring-secondary
}

input::placeholder {
    @apply text-black opacity-25;
}