@import "tailwindcss";

@theme {
	--color-primary: var(--primary);
	--color-secondary: var(--secondary);
	--color-tertiary: var(--tertiary);

	--background-color-body: var(--body);

	--font-inter: "Inter", sans-serif;
}

:root {
	--primary: #555555;
	--secondary: #dbd6cb;
	--tertiary: #a8a3a3;

	--body: #444444;

	font-family: var(--font-inter);
}

body {
	@apply bg-body text-secondary;
}

input[type="text"],
input[type="number"] {
	@apply text-center text-black bg-tertiary rounded-md border-2 border-secondary focus:outline-none focus:ring-2 focus:ring-secondary;
}

input[type="text"]::placeholder,
input[type="number"]::placeholder {
	@apply text-black opacity-25;
}

.panel {
	@apply flex flex-col items-center justify-center w-full h-full bg-tertiary shadow-md rounded-lg;
}

.panel-row {
	@apply flex flex-row items-center justify-center w-full h-full bg-tertiary shadow-md rounded-lg;
}

.hoverable-sm {
	@apply cursor-pointer duration-200 hover:scale-[1.025] focus:!outline-none active:scale-[0.975];
}

.hoverable {
	@apply cursor-pointer duration-200 hover:scale-105 focus:!outline-none active:scale-[0.975];
}

.hoverable-md {
	@apply cursor-pointer duration-200 hover:scale-110 focus:!outline-none active:scale-[0.975];
}

.hoverable-lg {
	@apply cursor-pointer duration-200 hover:scale-[1.15] focus:!outline-none active:scale-[0.975];
}

.selected {
	@apply brightness-85;
}
